---
import type { SanityDocument } from "@sanity/client";
import { loadQuery } from "../../sanity/lib/load-query";
import Layout from "../../layouts/Layout.astro";
import PortableText from "../../components/PortableText.astro";

export async function getStaticPaths() {
    const { data: posts } = await loadQuery<SanityDocument[]>({
        query: `*[_type == "post"]`,
    });

    return posts.map(({ slug }) => {
        return {
            params: {
                slug: slug.current,
            },
        };
    });
}

const { params } = Astro;

const { data: post } = await loadQuery<{ title: string; body: any[] }>({
    query: `*[_type == "post" && slug.current == $slug][0]`,
    params,
});
---

<Layout>
    <div class="mx-auto my-12 px-4 container">
        <h1 class="mb-6 text-2xl">{post.title}</h1>
        <PortableText portableText={post.body} />
    </div>
</Layout>
