---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <div class="mx-auto my-12 px-4 container">
        <h1 class="mb-6 text-2xl">Sanity + Astro + Tailwind Starter</h1>

        <p>
            This is a starter template for building with Sanity, Astro, and Tailwind CSS. It includes an example <a href="/blog" class="underline underline-offset-4">blog index page</a> and a blog post pages. The blog index page lists all the blog posts, and the blog post page displays a single blog post.
        </p>
    </div>
</Layout>